#uname {
	color: #fff;
}

#killall {
	margin-bottom: -5px;
}

#msglist pre {
	margin:0 0 10px;
}

#poponline {
	cursor: pointer;
}

.msg, #msg {
	width: 96.6%;
	max-width: 96.6%;
}
#msg {
	height: 20px;
	border-top-right-radius: 0;
}

.affix {
	position: fixed!important;
}

.wrap-menu-padding {
	padding-top: 60px;
}
@media (max-width: 979px) {
  .msg, #msg {
	width: 94%;
	max-width: 94%;
  }
}
@media (max-width: 767px) {
	.msg, #msg {
	  width: 92%;
	  max-width: 92%;
  	}
}


/* Липкий футер ))
-------------------------------------------------- */

html,
body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -155px;
}
#wrap .checkbox.inline {
	margin-right: 66px;
}

#push,
#footer {
	height: 110px;
}
#footer {
	margin-top: 45px;
}
#footer .container {
	margin-bottom: -1em;
}
.footer {
	background-color: #f5f5f5;
}

@media (max-width: 767px) {
	#footer {
	  margin-left: -20px;
	  margin-right: -20px;
	  padding-left: 20px;
	  padding-right: 20px;
	}
}