<!DOCTYPE html>
<html lang="ru">
  <head>
	<meta charset="utf-8">
	<title>Yet Another Chat</title>

	<!-- Styles -->
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="static/css/style.css">

	<link rel="shortcut icon" href="/static/img/favicon.png">
  </head>

  <body>

	<!-- Навигация -->
	<div class="navbar navbar-inverse navbar-fixed-top" data-spy="affix">
	  <div class="navbar-inner">
		<div class="container">
		  <a class="brand" href="/">Yet Another Chat</a>

		  <span class="ucp">
			<p class="navbar-text pull-right">
			  <i class="icon-off icon-white"></i> <a href="/logout" class="navbar-link" title="Ctrl + Q">Выход</a>
			</p>
			<ul class="nav pull-right"><li class="divider-vertical"></li></ul>
			<p class="navbar-text pull-right">
			  <i class="icon-user icon-white"></i> <strong id="uname">{{name}}</strong>
			</p>
			<ul class="nav pull-right"><li class="divider-vertical"></li></ul>
		  	<p class="pull-right">
			  <button id="killall" class="btn btn-danger" title="Очистить историю у всех! 
			  Ctrl + F1">Палево!</button>
			</p>
		  </span>
		</div>
	  </div>
	</div>

	<!-- / Навигация -->
	
	<div class="container" id="wrap">
		<div class="row wrap-menu-padding">
			<!-- Основной контент -->
			<div id="msglist"></div>
		</div>
	  <div id="push"></div>

	</div>

	<!-- Футер -->
	<footer id="footer">
	  <div class="container">
		  <div id="send" class="row msg input-append">
			<textarea id="msg" placeholder="Сообщение" tabindex="1"></textarea>
			<button title="Ctrl + Enter" id="submit" class="btn btn-success btn-primary" tabindex="2">Отправить</button>
		  </div>
	  </div>
	  
	  <div class="footer">
	  	  <hr>
		  <div class="container">
		  	  <p id="poponline" class="pull-right">
		  	  	<span title="Ctrl + ~">
		  	  		<i class="icon-user" title="Ctrl + ~"></i> <span id="onlinecnt"></span> онлайн
		  	  	</span>
		  	  </p>
			  <p><a href="https://bitbucket.org/eremeev/yatc/">@yatc</a> &copy; 2013</p>
		  </div>
	  </div>
	</footer>

    <!-- JavaScript
    ================================================== -->
    <!-- Расположены в конце по оптимизационным причинам -->
    <span id="scripts">
      <script src="static/js/jquery-1.9.1.min.js"></script>
      <script src="static/js/jquery.autosize-min.js"></script>
      <script src="static/js/underscore-min.js"></script>
      <script src="static/js/backbone-min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>
      <script src="static/js/app.js"></script>
      <script type='text/template' id='message_view'><span class="label label-important"><%= user %></span> <%= body %></script>
      <script>$('#poponline').popover({'html': true, 'placement' : 'top', 'title' : 'Кто онлайн?'})</script>
    </span>
  </body>
</html>